@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-primary: #007a6c;

}


@layer components {
  .btn {
    @apply px-4 rounded-md text-sm font-medium transition;
  }

  .btn-primary {
    @apply bg-primary text-white hover:opacity-90 px-4 py-1 rounded w-full flex items-center gap-1 justify-center;
  }

  .btn-secondary {
    @apply border border-primary text-primary flex items-center gap-1 hover:bg-primary hover:text-white;
  }
}
